button,
button:focus,
button:active,
a,
a:focus,
a:active {
  outline: none;
}



.bg-lightblue {
  background-color: #2b3253;
}

.bg-darkblue {
  background-color: #0f1642;
}

.bg-purple {
  background-color: #9e94ff;
}

.bg-lightlightblue {
  background-color: #6d7fcc;
}

.grey-hover:hover {
  color: grey !important;
}

.bg-hover-purple:hover {
  background-color: #9e94ff;
}

input:focus, textarea:focus{
  background-color: #6d7fcc !important;
}

.sub-sontent {
  margin-top: 20px !important;
}

article {
  margin-bottom: 25px;
}

.aside-card {
  margin-bottom: 25px;
}

.txt-white {
  color: white !important;
}
.txt-grey {
  color: grey !important;
}

.post {
  margin-top: 500px;
  margin-bottom: 500px;
}
.borderpost {
  border-width: 10px;
}
.charbutton{
  width: 200px;
}


